# SmartFleet Server (LoxBerry-Plugin)
# Copyright (c) 2026 Michael Schlenstedt. Alle Rechte vorbehalten.
# Nutzung, Weitergabe und Veraenderung nur nach den Lizenzbedingungen,
# die diesem Programm beiliegen (LICENSE).

[AUTHOR]
NAME=Michael Schlenstedt
EMAIL=info@smartfleetmanager.de

[PLUGIN]
VERSION=1.0.0
NAME=smartfleetserver
FOLDER=smartfleetserver
TITLE=SmartFleet Server
WEBSITE=https://github.com/mschlenstedt/LoxBerry-Plugin-SmartFleet-Server

[SYSTEM]
REBOOT=false
LB_MINIMUM=4.0.0.15
LB_MAXIMUM=false
ARCHITECTURE=false
CUSTOM_LOGLEVELS=false
INTERFACE=2.0

[AUTOUPDATE]
AUTOMATIC_UPDATES=false

